<h1>To-do list de la semaine</h1>

<div class="management-author">
    <p>Bonjour <strong>{{username}}</strong></p>
    <h2>Tâches de la semaine</h2>

    <div class="k-management">
        <h4>Vous : <span id="uk-users"></span></h4>
        <h4>Selectionner un jour : <span id="uk-day"></span></h4>
        <div id="ukld"></div>
    </div>

    <hr />

    {% if user in manager_ids %}

    <h2>Gestion des tâches par semaine</h2>

    <div class="k-management">
        <h4>Selectionner un utilisateur : <span id="k-users"></span></h4>
        <h4>Selectionner un jour : <span id="k-day"></span></h4>
        <div id="kld"></div>
    </div>

    {% endif %}

</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">


    $(document).ready(function () {

    
        const ukgenda = new KManagementReadOnly(
            '{{admin_url}}', 
            [{{ user_data }}], 
            'ukld', 
            'uk-day', 
            'uk-users', 
            'uk'
        );

    {% if user in manager_ids %}
    
        const kgenda = new KManagement(
            '{{admin_url}}', 
            {{ user_list }}, 
            'kld', 
            'k-day', 
            'k-users'
        );
    
    {% endif %}

    });
</script>